<div class="ui large inverted menu custom-nav">
    <div id="custom-navbar-title" class="item custom-title">
        <i class="money bill alternate outline icon"></i>
        <%= link_to 'Home', root_path%>
    </div>
    <%= link_to 'Profile', root_path, class: 'item' %>
    <div class="right menu">
        <div class="ui pointing dropdown link item">
            Language <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item">English</a>
                <a class="item">Russian</a>
                <a class="item">Spanish</a>
            </div>
        </div>
        <%= link_to 'Login', new_user_session_path, class: 'item' %>
        <div class="item">
            <%= link_to 'Sign Up', new_user_registration_path, class: "small ui blue button" %>
        </div>
    </div>
</div>
<h4 class="ui center aligned medium icon header">
  <i class="circular inverted blue power off tiny icon"></i>
  Forgot your password?
</h4>
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <div class="ui center aligned grid">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
      
        <div class="field">
          <%= f.label :email %><br />
          <div class="ui left icon input">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            <i class="user icon"></i>
          </div>
        </div>
      
        <div class="actions">
          <%= f.submit "Send me reset password instructions", class: "ui blue submit button custom-password" %>
        </div>
      <% end %>
    </div>
  </div>
</div>